*,
*:before,
*:after{
  box-sizing:border-box;
}
html,body{
	margin:0;
	padding:0;
}
body{
  text-align:center;
  background-color: #000;
}
canvas{
  cursor:pointer;
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -o-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}
canvas:active{
}
